.pralka {
  animation: rotation 1000ms infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
table,tr,th,td{
	border:1px solid;
	border-collapse: collapse;
}
table{
width: 100%;
text-align:center;
}
th:nth-child(even) {
	background-color: aquamarine;
}
tr:hover {
	background-color: coral;
	}
.lista_pierwsza{
	list-style-position: outside;
	list-style-image:url("star.png");
}
.lista_druga{
	list-style-type: lower-roman;
}